body {
    background: #ffffff; /* 背景を白に変更 */
    position: relative;
    overflow: hidden;
  }
  
  .circle {
    animation: grow 3s linear;
    border: 1px solid rgba(255, 105, 180, 0.6); /* 円の色をピンクに変更 (hot pink) */
    border-radius: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: -1; /* 背景に配置して、コンテンツの下に置く */
  }


  
  @keyframes grow {
    to {
      opacity: 0;
      transform: scale(5);
    }
  }
  
  /* SOCIAL PANEL CSS */
  .social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }
  
  .social-panel-container.visible {
    transform: translateX(-10px);
  }
  
  .social-panel {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    border: 5px solid #001F61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 169px;
    width: 370px;
  }
  
  .social-panel button.close-btn {
    border: 0;
    color: #97A5CE;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .floating-btn {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .floating-btn:hover {
    background-color: #ffffff;
    color: #001F61;
  }
  
  @media screen and (max-width: 480px) {
    .social-panel-container.visible {
      transform: translateX(0);
    }
    .floating-btn {
      right: 10px;
    }
  }
  